/*  убирает стандарные браузерные стили */
html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* my styles*/

body {
    font-family: 'League Spartan', sans-serif;
}

.header-container {
    display: flex;
    width: 1440px;

    padding-top: 104px;
    padding-left: 133px;
    padding-right: 133px;
    padding-bottom: 168px;

    background-color: #F8F8F8;
}

.header-title {
    position: absolute;
    width: 135px;
    height: 32px;
    left: 133px;
    top: 104px;

    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 186%;
}

.header-subtitle {
    position: absolute;
    width: 877px;
    height: 215px;
    left: 133px;
    top: 189px;

    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 300;
    font-size: 250px;
    line-height: 230px;

    color: #272727;

}